.add-component-button {
    margin-top: 0.5em;
}
.component-select {
        min-width: 30ch;
        max-width: 30ch;
}
.status-select {
        min-width: 15ch;
        max-width: 15ch;
}

/*
 https://stackoverflow.com/questions/7638677/how-can-i-remove-the-gloss-on-a-select-element-in-safari-on-mac
*/

/*.tab-panel,*/
/*.tab-panel::before,*/
/*.tab-panel::after {*/
/*    box-sizing: border-box;*/
/*}*/
/*.tab-panel {*/
/*    --select-border: #777;*/
/*    --select-focus: rgb(4, 57, 192);*/
/*    --select-arrow: var(--select-border);*/
/*}*/
/*.tab-panel select {*/
/*    -webkit-appearance:none;*/
/*    appearance: none;*/
/*    background-color: transparent;*/
/*    border: none;*/
/*    padding: 0 1em 0 0;*/
/*    margin: 0;*/
/*    width: 100%;*/
/*    font-family: inherit;*/
/*    font-size: inherit;*/
/*    cursor: inherit;*/
/*    line-height: inherit;*/
/*    z-index: 1;*/
/*    outline: none;*/
/*}*/
/*.tab-panel select::-ms-expand {*/
/*    display: none;*/
/*}*/
/*.tab-panel select, .tab-panel .select::after {*/
/*    grid-area: select;*/
/*}*/
/*.tab-panel .select:not(.select--multiple)::after {*/
/*    content: "";*/
/*    justify-self: end;*/
/*    width: 0.8em;*/
/*    height: 0.5em;*/
/*    background-color: var(--select-arrow);*/
/*    clip-path: polygon(100% 0%, 0 0%, 50% 100%);*/
/*}*/
/*.tab-panel .select .components {*/
/*    min-width: 25ch;*/
/*    max-width: 25ch;*/
/*}*/
/*.tab-panel .select .statuses {*/
/*    min-width: 15ch;*/
/*    max-width: 15ch;*/
/*}*/
/*.tab-panel .select {*/
/*    display: grid;*/
/*    grid-template-areas: "select";*/
/*    align-items: center;*/
/*    position: relative;*/

/*    border: 1px solid var(--select-border);*/
/*    border-radius: 0.25em;*/
/*    padding: 0.25em 0.5em;*/

/*    font-size: 0.9em;*/
/*    cursor: pointer;*/
/*    line-height: 1.2;*/

/*    background-color: #fff;*/
/*    background-image: linear-gradient(to top, #f9f9f9, #fff 33%);*/
/*}*/
/*.tab-panel select:focus + .focus {*/
/*   position: absolute;*/
/*   top: -1px;*/
/*   left: -1px;*/
/*   right: -1px;*/
/*   bottom: -1px;*/
/*   border: 1px solid var(--select-focus);*/
/*   border-radius: inherit;*/
/*}*/
/*.tab-panel select[multiple] {*/
/*    padding-right: 0;*/

/*    !**/
/*     * Safari will not reveal an option*/
/*     * unless the select height has room to*/
/*     * show all of it*/
/*     * Firefox and Chrome allow showing*/
/*     * a partial option*/
/*     *!*/
/*    height: 6rem;*/
/*}*/
/*.tab-panel select[multiple] option {*/
/*    white-space: normal;*/
/*    // Only affects Chrome*/
/*    outline-color: var(--select-focus);*/
/*}*/
/*.tab-panel .select--disabled {*/
/*    cursor: not-allowed;*/
/*    background-color: #eee;*/
/*    background-image: linear-gradient(to top, #ddd, #eee 33%);*/
/*}*/
/*.tab-panel label {*/
/*    font-size: 1em;*/
/*    !*color: grey;*!*/
/*    !*font-weight: 500;*!*/
/*}*/
/*.tab-panel .select + label {*/
/*    margin-top: 2rem;*/
/*}*/
.tab-panel {
    overflow: hidden;
}
.tab-panel .input-element {
    float: left;
    padding-right: 10px;
}
.tab-panel .select {
    /*font-size: 1em;*/
}


textarea {
    width:100%;
    resize: none;
}
.textwrapper {
    /*border:1px solid #999999;*/
    /*margin:5px 0;*/
    padding-right:10px;
}

.float_container {
    /*border : 1px solid #000;*/
    overflow:hidden;
    min-width: 500px;
}
.float_child {
    min-width: 500px;
    width: 50%;
    float: left;
    height: 400px;
    /*background-color: #777777;*/
}
.float_child_left {
    height: inherit;
}
.float_child_right {
    height: inherit;
}
.tab-general-block {
    /*border : 1px solid #0f0;*/
    padding: 5px;
    /*padding-right: 15px;*/
    height: inherit;
    /*background-color: pink;*/
    /*border:1px solid #f00;*/
}
.tab-components-block {
    /*border : 1px solid #0f0;*/
    padding: 5px;
    height: inherit;
    /*background-color: yellow;*/
    /*border:1px dashed #0f0;*/
}
.tab-buttons-block {
    /*border: 1px solid #00f;*/
    min-width: 500px;
    width: 100%;
    display: block;
    padding-top: 1em;
    /*background-color: lightgrey;*/
    text-align: right;
}

/*@media screen and (max-width: 500px) {*/
/*    .float_child {*/
/*        float: none;*/
/*        padding: 5px;*/
/*        width: 100%;*/
/*        !*margin-right:0;*!*/
/*        !*width:auto;*!*/
/*        !*border:0;*!*/
/*        !*border-bottom:2px solid #000;*!*/
/*        !*min-width: 400px;*!*/
/*    }*/
/*    .tab-components-block {*/
/*        border:1px solid #ccc;*/
/*    }*/
/*}*/

.incident-glance-list-item {
    margin-top: 5px;
}
.incident-glance-common {
    padding: 3px;
    border-radius: 4px;
}

textarea:disabled {
    opacity: 0.3;
}

div.incident-impact {
    float: left;
    margin-right: 5px;
    padding-left: 5px;
    padding-right: 5px;
    text-align: center;
    border-radius: 3px;
    cursor: pointer;
}
div.incident-impact.disabled {
    color: rgba(110, 121, 141, 0.5);
    cursor: default;
}
div.incident-impact.selected {
    cursor: default;
}
.incident-impact-none {
    color: rgb(45, 198, 83);
}
.incident-impact-none.selected {
    color: white;
    background-color: rgb(45, 198, 83);
}
.incident-impact-minor {
    color: rgb(254, 185, 9);
}
.incident-impact-minor.selected {
    color: white;
    background-color: rgb(254, 185, 9);
}
.incident-impact-major {
    color: rgb(252, 119, 8);
}
.incident-impact-major.selected {
    color: white;
    background-color: rgb(252, 119, 8);
}
.incident-impact-critical {
    color: rgb(211, 31, 13);
}
.incident-impact-critical.selected {
    color: white;
    background-color: rgb(211, 31, 13);
}
div.incident-status {
    float: left;
    margin-right: 5px;
    padding-left: 5px;
    padding-right: 5px;
    text-align: center;
    border-radius: 3px;
    cursor: pointer;
}
div.incident-status.disabled {
    color: rgba(110, 121, 141, 0.5);
    cursor: default;
}
div.incident-status.selected {
    cursor: default;
}
.incident-status-investigating {
    color: rgb(211, 31, 13);
}
.incident-status-investigating.selected {
    color: white;
    background-color: rgb(211, 31, 13);
}
.incident-status-identified {
    color: rgb(252, 119, 8);
}
.incident-status-identified.selected {
    color: white;
    background-color: rgb(252, 119, 8);
}
.incident-status-monitoring {
    color: rgb(43, 132, 210);
}
.incident-status-monitoring.selected {
    color: white;
    background-color: rgb(43, 132, 210);
}
.incident-status-resolved {
    color: rgb(45, 198, 83);
}
.incident-status-resolved.selected {
    color: white;
    background-color: rgb(45, 198, 83);
}

.components-list {
    overflow: scroll;
    height: 180px;
}
.component {
    border-bottom: 1px solid gainsboro;
    min-width: 400px;
    display:flex;
    white-space:nowrap;
}
.component-name-header {
    display: inline;
    /*float        : left;*/
    color: rgb(110, 121, 141);
    font-family  : Tahoma, Arial;
    font-size    : 0.9em;
    white-space  : nowrap;
    overflow     : hidden;
    text-overflow: ellipsis;
    /*min-width    : 250px;*/
    /*max-width    : 350px;*/
    width        : 300px;
    /*width        : 70%;*/
    margin-right : 1em;
}
.component-name {
    display: inline;
    /*float        : left;*/
    color: rgb(110, 121, 141);
    font-family  : Tahoma, Arial;
    font-size    : 0.9em;
    white-space  : nowrap;
    overflow     : hidden;
    text-overflow: ellipsis;
    /*min-width    : 250px;*/
    /*max-width    : 350px;*/
    width        : 300px;
    /*width        : 70%;*/
    margin-right : 1em;
}
.component-name.removed {
    color               : rgb(211, 31, 13);
    text-decoration-line: line-through;
}
.component-button {
    color: rgba(110, 121, 141, 0.5);
    cursor    : pointer;
    min-width : 20px;
    /*width     : 16px;*/
}
.component-button.operational.selected {
    color: rgb(45, 198, 83);
}
.component-button.degraded_performance.selected {
    color: rgb(254, 185, 9);
}
.component-button.partial_outage.selected {
    color: rgb(252, 119, 8);
}
.component-button.major_outage.selected {
    color: rgb(211, 31, 13);
}
.component-button.under_maintenance.selected  {
    color: rgb(43, 132, 210);
}
.component-button.remove {
    margin-left: 1em;
    min-width  : 20px;
    /*width      : 16px;*/
}
.component-button.remove.selected {
    color: rgb(211, 31, 13);
}
.component-button.header {
    color: rgb(110, 121, 141);
}
.component-button.disabled {
    cursor: default;
}
/*.components-add-block-container {*/
/*    padding-top: 20px;*/
/*    display: flex;*/
/*    height: 100%;*/
/*}*/
/*.components-add-block-content {*/
/*    align-self: flex-end;*/
/*}*/

.component-button.operational:not(.removed):hover {
    color: rgb(45, 198, 83);
}
.component-button.removed:not(.remove):hover {
    cursor: default;
}
.component-button.degraded_performance:not(.removed):hover {
    color: rgb(254, 185, 9);
}
.component-button.partial_outage:not(.removed):hover {
    color: rgb(252, 119, 8);
}
.component-button.major_outage:not(.removed):hover {
    color: rgb(211, 31, 13);
}
.component-button.under_maintenance:not(.removed):hover  {
    color: rgb(43, 132, 210);
}
.component-button.remove:hover {
    color: rgb(211, 31, 13);
}
.component-header.operational:hover {
    color: rgb(45, 198, 83);
}
.component-header.degraded_performance:hover {
    color: rgb(254, 185, 9);
}
.component-header.partial_outage:hover {
    color: rgb(252, 119, 8);
}
.component-header.major_outage:hover {
    color: rgb(211, 31, 13);
}
.component-header.under_maintenance:hover  {
    color: rgb(43, 132, 210);
}
.component-button.disabled:not(.header):hover {
    color: rgba(110, 121, 141, 0.5);
}
.item-label {
    color: rgb(110, 121, 141);
}