.create-form-part {
    float: left;
    width: 50%;
}
.create-form-part.left {
    width: 45%;
}
.create-form-part.right {
    width: 55%;
}
.create-form-left {
    padding: 2px;
}
.create-form-right {
    padding: 2px;
}
