.add-component-button {
    margin-top: 0.5em;
}
.component-select {
        min-width: 30ch;
        max-width: 30ch;
}
.status-select {
        min-width: 15ch;
        max-width: 15ch;
}

/*
  https://moderncss.dev/custom-select-styles-with-pure-css/
  https://stackoverflow.com/questions/7638677/how-can-i-remove-the-gloss-on-a-select-element-in-safari-on-mac
*/

.tab-panel {
    overflow: hidden;
}
.tab-panel .input-element {
    float: left;
    padding-right: 10px;
}
.tab-panel .select {
}

textarea {
    width:100%;
    resize: none;
}
.textwrapper {
    padding-right:10px;
}

.float_container {
    overflow:hidden;
    min-width: 500px;
}
.float_child {
    min-width: 500px;
    width: 50%;
    float: left;
    height: 400px;
}
.float_child_left {
    height: inherit;
}
.float_child_right {
    height: inherit;
}
.tab-general-block {
    padding: 5px;
    height: inherit;
}
.tab-components-block {
    padding: 5px;
    height: inherit;
}
.tab-buttons-block {
    min-width: 500px;
    width: 100%;
    display: block;
    padding-top: 1em;
    text-align: right;
}

.incident-glance-list-item {
    margin-top: 5px;
}
.incident-glance-common {
    padding: 3px;
    border-radius: 4px;
}

textarea:disabled {
    opacity: 0.3;
}

div.incident-impact {
    float: left;
    margin-right: 5px;
    padding-left: 5px;
    padding-right: 5px;
    text-align: center;
    border-radius: 3px;
    cursor: pointer;
}
div.incident-impact.disabled {
    color: rgba(110, 121, 141, 0.5);
    cursor: default;
}
div.incident-impact.selected {
    cursor: default;
}
.incident-impact-none {
    color: rgb(45, 198, 83);
}
.incident-impact-none.selected {
    color: white;
    background-color: rgb(45, 198, 83);
}
.incident-impact-minor {
    color: rgb(254, 185, 9);
}
.incident-impact-minor.selected {
    color: white;
    background-color: rgb(254, 185, 9);
}
.incident-impact-major {
    color: rgb(252, 119, 8);
}
.incident-impact-major.selected {
    color: white;
    background-color: rgb(252, 119, 8);
}
.incident-impact-critical {
    color: rgb(211, 31, 13);
}
.incident-impact-critical.selected {
    color: white;
    background-color: rgb(211, 31, 13);
}
div.incident-status {
    float: left;
    margin-right: 5px;
    padding-left: 5px;
    padding-right: 5px;
    text-align: center;
    border-radius: 3px;
    cursor: pointer;
}
div.incident-status.disabled {
    color: rgba(110, 121, 141, 0.5);
    cursor: default;
}
div.incident-status.selected {
    cursor: default;
}
.incident-status-investigating {
    color: rgb(211, 31, 13);
}
.incident-status-investigating.selected {
    color: white;
    background-color: rgb(211, 31, 13);
}
.incident-status-identified {
    color: rgb(252, 119, 8);
}
.incident-status-identified.selected {
    color: white;
    background-color: rgb(252, 119, 8);
}
.incident-status-monitoring {
    color: rgb(43, 132, 210);
}
.incident-status-monitoring.selected {
    color: white;
    background-color: rgb(43, 132, 210);
}
.incident-status-resolved {
    color: rgb(45, 198, 83);
}
.incident-status-resolved.selected {
    color: white;
    background-color: rgb(45, 198, 83);
}

.components-list {
    overflow: scroll;
    height: 180px;
}
.component {
    border-bottom: 1px solid gainsboro;
    min-width: 400px;
    display:flex;
    white-space:nowrap;
}
.component-name-header {
    display: inline;
    color: rgb(110, 121, 141);
    font-family  : Tahoma, Arial;
    font-size    : 0.9em;
    white-space  : nowrap;
    overflow     : hidden;
    text-overflow: ellipsis;
    width        : 300px;
    margin-right : 1em;
}
.component-name {
    display: inline;
    color: rgb(110, 121, 141);
    font-family  : Tahoma, Arial;
    font-size    : 0.9em;
    white-space  : nowrap;
    overflow     : hidden;
    text-overflow: ellipsis;
    width        : 300px;
    margin-right : 1em;
}
.component-name.removed {
    color               : rgb(211, 31, 13);
    text-decoration-line: line-through;
}
.component-button {
    color: rgba(110, 121, 141, 0.5);
    cursor    : pointer;
    min-width : 20px;
}
.component-button.operational.selected {
    color: rgb(45, 198, 83);
}
.component-button.degraded_performance.selected {
    color: rgb(254, 185, 9);
}
.component-button.partial_outage.selected {
    color: rgb(252, 119, 8);
}
.component-button.major_outage.selected {
    color: rgb(211, 31, 13);
}
.component-button.under_maintenance.selected  {
    color: rgb(43, 132, 210);
}
.component-button.remove {
    margin-left: 1em;
    min-width  : 20px;
}
.component-button.remove.selected {
    color: rgb(211, 31, 13);
}
.component-button.header {
    color: rgb(110, 121, 141);
}
.component-button.disabled {
    cursor: default;
}
.component-button.operational:not(.removed):hover {
    color: rgb(45, 198, 83);
}
.component-button.removed:not(.remove):hover {
    cursor: default;
}
.component-button.degraded_performance:not(.removed):hover {
    color: rgb(254, 185, 9);
}
.component-button.partial_outage:not(.removed):hover {
    color: rgb(252, 119, 8);
}
.component-button.major_outage:not(.removed):hover {
    color: rgb(211, 31, 13);
}
.component-button.under_maintenance:not(.removed):hover  {
    color: rgb(43, 132, 210);
}
.component-button.remove:hover {
    color: rgb(211, 31, 13);
}
.component-header.operational:hover {
    color: rgb(45, 198, 83);
}
.component-header.degraded_performance:hover {
    color: rgb(254, 185, 9);
}
.component-header.partial_outage:hover {
    color: rgb(252, 119, 8);
}
.component-header.major_outage:hover {
    color: rgb(211, 31, 13);
}
.component-header.under_maintenance:hover  {
    color: rgb(43, 132, 210);
}
.component-button.disabled:not(.header):hover {
    color: rgba(110, 121, 141, 0.5);
}
.item-label {
    color: rgb(110, 121, 141);
}