##<!doctype html>
##<html>
##    <body>
        <h2 class="dialog-title red">$i18n.getText('incident-create-dialog.title')</h2>
        <form class="aui incident-dialog-form" action="CreateIncident.jspa" method="post">
            <input type="hidden" name="atl_token" value="${atl_token}" />
            <input type="hidden" name="id" value="$action.id" />
            <input type="hidden" name="components" id="components-config" value="" />

            <div class="content-body" id="create-form-warning" hidden="true">
                <div class="aui-message aui-message-error">
                    <p class="title">
                        <strong>$i18n.getText('incident-create-dialog.error.title')</strong>
                    </p>
                    <p>$i18n.getText('incident-create-dialog.error.message')</p>
                </div>
            </div>

            <div class="content-body wide" id="create-form-content" hidden="true">

                #if ($action.hasAnyErrors())
                    <div class="form-message error">
                        #foreach ($error in $action.getErrorMessages())
                            <p>$textutils.htmlEncode(${error})</p>
                        #end
                        #foreach ($error in $action.errors)
                            <p>$textutils.htmlEncode(${error})</p>
                        #end
                    </div>
                #end

                <div>
                    <div class="create-form-part left">
                        <div class="create-form-left">
                            <div class="field-group">
                                <label for="sp-create-page">$i18n.getText('incident-create-dialog.page-select.label')&nbsp;</label>
                                ##                    <span class="custom-select">
                                <select class="select" name="page" id="sp-create-page" required="true" placeholder="select status page" />
                                ##                        <span class="focus"></span>
                                ##                    </span>
                            </div>
                            <div class="field-group">
                                <label for="sp-create-impact">$i18n.getText('incident-create-dialog.impact-select.label')&nbsp;</label>
                                <select class="select" name="impact" id="sp-create-impact" required="true" placeholder="select incident impact" />
                            </div>
                            <div class="field-group">
                                <label for="sp-create-title">$i18n.getText('incident-create-dialog.title.label')&nbsp;</label>
                                <input class="text large-field" id="sp-create-title" name="title" type="text" required="true" placeholder="enter incident title"/>
                            </div>
                            <div class="field-group">
                                <label for="sp-create-message">$i18n.getText('incident-create-dialog.message.label')&nbsp;</label>
                                <textarea class="textarea" id="sp-create-message" rows="5" name="message" placeholder="enter incident message"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="create-form-part right">
                        <div class="create-form-right">
                            <div class="tab-components-block">
                                <label for="components-header">$i18n.getText('incident-tab-panel.incident-components-section-title')&nbsp</label>
                                <div class="component" id="components-header" />
                                <div class="components-list" id="tab-components-list" />
                            </div> <!-- tab-components-block -->
                        </div>
                    </div>
                    <input type="hidden" name="location" id="page-location" value="" />
                </div>
            </div>

            <div class="buttons-container content-footer">
                <div class="buttons">
                    ##  https://aui.atlassian.com/aui/7.9/docs/buttons.html
                    <button href="#" class="aui-button aui-button-primary cancel">$i18n.getText('incident-create-dialog.button-cancel')</button>
                    <button hidden="true" id="incident-create-dialog-submit-button" class="aui-button button" id="incident-create-dialog-submit-button" type="submit">$i18n.getText('incident-create-dialog.button-create')</button>
                </div>
            </div>

        </form>
        <script>
            #include("/js/statuspage.js")
            #include("/js/incident-create-dialog.js")
            function statusButtonClick(source) {
                $incidentCreateDialog.changeComponentState(source);
            }
            function headerButtonClick(source) {
                $incidentCreateDialog.changeAllComponentsState(source);
            }
            AJS.toInit(function() {
                $('#sp-create-page').change(function(){
                    $incidentCreateDialog.loadGroups();
                })
                $incidentCreateDialog.checkAccess();
            });
        </script>
##    </body>
##</html>

