<!doctype html>
<html lang="en">
<head>
    <title>$i18n.getText("sp.admin.label")</title>
    ##    $webResourceManager.requireResource("com.atlassian.auiplugin:aui-select2")
    $webResourceManager.requireResource("com.atlassian.auiplugin:ajs")
    $webResourceManager.requireResource("com.atlassian.auiplugin:aui-select")
</head>
<body>


<h2 class="dialog-title">$i18n.getText('incident-link-dialog.title')</h2>

<form class="aui" action="LinkIncident.jspa" method="post">

    <input type="hidden" name="atl_token" value="${atl_token}" />
    <input type="hidden" name="id" value="$action.id" />

    <div class="content-body">

        #if ($action.hasAnyErrors())
            <div class="form-message error">
                #foreach ($error in $action.getErrorMessages())
                    <p>$textutils.htmlEncode(${error})</p>
                #end
                #foreach ($error in $action.errors)
                    <p>$textutils.htmlEncode(${error})</p>
                #end
            </div>
        #end

        <div class="field-group">
            <label for="sp-link-page">$i18n.getText('incident-link-dialog.page-select.label')&nbsp;</label>
            <select class="select" name="page" id="sp-link-page" required="true" placeholder="select status page" />
        </div>
        <div class="field-group">
            <label for="sp-link-incident">$i18n.getText('incident-link-dialog.incident-select.label')&nbsp;</label>
            <select class="select" name="incident" id="sp-link-incident" required="true" placeholder="select incident" />
            <span id="incidents-loading-wheel" style="vertical-align: middle;" class="button-common aui-icon aui-icon-small aui-icon-wait">...</span><br>
        </div>

##        <div class="field-group">
##            <label>$i18n.getText('tutorial.fields.users.label') <span class="aui-icon icon-required"></span></label>
##            &nbsp;<textarea name="watcherUserNames" class="textarea long-field"></textarea>
##            <div class="description">$i18n.getText('tutorial.fields.users.desc'))</div>
##        </div>
    </div>
    <div class="buttons-container content-footer">
        <div class="buttons">
            ##  https://aui.atlassian.com/aui/7.9/docs/buttons.html
            <a href="#" class="aui-button aui-button-primary cancel">$i18n.getText('incident-link-dialog.button-cancel')</a>
            <input class="aui-button button" type="submit" value="$i18n.getText('incident-link-dialog.button-link')" />
        </div>
    </div>
</form>
<script>
    #include("/js/statuspage.js")
    #include("/js/incident-link-dialog.js")
    $('#sp-link-page').change(function(){
        let pageId = $(this).val();
        $incidentLinkDialog.loadIncidents(pageId, 'sp-link-incident', 'incidents-loading-wheel');
    })
    $incidentLinkDialog.loadPages('sp-link-page', 'sp-link-incident', 'incidents-loading-wheel');
</script>
</body>
</html>




##    $statuspage.updateTestDiv();
##    $statuspage.pages();
##    let testPageId = '6clp0q4nsbpj';
##    const ngComponents = $statuspage.nonGroupComponents(testPageId);
##    let groups = $statuspage.groups(testPageId);
##    for(let idx = 0; idx < groups.length; idx++) {
##        let group = groups[idx];
##        let groupId = group.id;
##        let pageId  = group.page_id;
##        console.log(pageId + " - " + groupId);
##        $statuspage.groupComponents(pageId, groupId);
####        $statuspage.groupComponents(group.page_id, group.id);
##    }
##    $statuspage.components('6clp0q4nsbpj');
##    $statuspage.incidents('6clp0q4nsbpj');
