<!doctype html>
<html lang="en">
    <head>
##        $webResourceManager.requireResourcesForContext("ws.slink.statuspage.popup.unlink")
    </head>
    <body>
        <form class="aui" action="UnlinkIncident.jspa" method="post">

            <div class="form-body" id="unlink-form-warning" hidden="true">
                <div class="aui-message aui-message-error">
                    <p class="title">
                        <strong>$i18n.getText('incident-unlink-dialog.error.title')</strong>
                    </p>
                    <p>$i18n.getText('incident-unlink-dialog.error.message')</p>
                </div>
            </div>

            <div class="content" id="unlink-form-content" hidden="true">
                <input type="hidden" name="atl_token" value="${atl_token}" />
                <input type="hidden" name="id" value="$action.id" />
                <input type="hidden" name="location" id="page-location" value="" />
                <div class="content-header">
                    <h2 class="dialog-title">$i18n.getText('incident-unlink-dialog.title')</h2>
                </div>
                <div class="content-body">
                    #if ($action.hasAnyErrors())
                        <div class="form-message error">
                            #foreach ($error in $action.getErrorMessages())
                                <p>$textutils.htmlEncode(${error})</p>
                            #end
                            #foreach ($error in $action.errors)
                                <p>$textutils.htmlEncode(${error})</p>
                            #end
                        </div>
                    #end
                    <h4>$i18n.getText('incident-unlink-dialog.unlink-question')</h4>
                </div>
            </div>

            <div class="buttons-container form-footer">
                <div class="buttons">
                    ##  https://aui.atlassian.com/aui/7.9/docs/buttons.html
                    <a href="#" class="aui-button aui-button-primary cancel">$i18n.getText('incident-unlink-dialog.button-cancel')</a>
                    <input hidden="true" id="incident-unlink-dialog-submit-button" class="aui-button button" type="submit" value="$i18n.getText('incident-unlink-dialog.button-unlink')" />
                </div>
            </div>
        </form>
        <script>
            #include("/js/incident-unlink-dialog.js")
            AJS.toInit(function() {
                $("#page-location").val($(location).attr('href'));
                $incidentUnlinkDialog.checkAccess();
            });
        </script>
    </body>
</html>
