<div class="mod-content">
    <ul class="item-details">
        <dl class="incident-glance-list-item">
            <dt>$i18n.getText('incident-glance-panel.page-name'):</dt>
            <dd><span id="incident-glance-page" class="incident-glance-common"><a target="_blank" href="https://manage.statuspage.io/pages/$page.id()">$page.name()</a></span></dd>
        </dl>
        <dl class="incident-glance-list-item">
            <dt>$i18n.getText('incident-glance-panel.incident-name'):</dt>
            <dd><span id="incident-glance-title" class="incident-glance-common"><a target="_blank" href="https://manage.statuspage.io/pages/$page.id()/incidents/$incident.id()">$incident.name()</a></span></dd>
        </dl>
        <dl class="incident-glance-list-item">
            <dt>$i18n.getText('incident-glance-panel.incident-status'):</dt>
            <dd><span id="incident-glance-status" class="incident-glance-common incident-status-$incident.status().value()">$incident.status().value()</span></dd>
        </dl>
        <dl class="incident-glance-list-item">
            <dt>$i18n.getText('incident-glance-panel.incident-impact'):</dt>
            <dd>
##                <span class="incident-glance-common incident-impact incident-impact-$incident.impact().value() selected">
                <div id="incident-glance-impact" class="incident-impact incident-impact-$incident.impact().value() selected">
                    $incident.impact().value()
                </div>
##                </span>
            </dd>
        </dl>
    </ul>
</div>
