#macro(getComponentStatusButtonClass $inStatus $outResult)
    #if     ($inStatus == 'operational')
        #set($outResult = "aui-iconfont-check-circle")
    #elseif ($inStatus == 'degraded_performance')
        #set($outResult = "aui-iconfont-devtools-task-disabled")
    #elseif ($inStatus == 'partial_outage')
        #set($outResult = "aui-iconfont-failed-build")
    #elseif ($inStatus == 'major_outage')
        #set($outResult = "aui-iconfont-remove")
    #elseif ($inStatus == 'under_maintenance')
        #set($outResult = "aui-iconfont-info-circle")
    #end
#end

<div class="tab-panel">
    <div class="float_container">
        <div class="float_child float_child_left">
            <div class="tab-general-block">
                <div>
                    <h4>$i18n.getText('incident-tab-panel.incident-general-section-title')</h4>
                </div>
                <div>
                    &nbsp;
                </div>
                <div>
                    <ul class="item-details">
                        <dl class="incident-glance-list-item">
                            <dt>$i18n.getText('incident-glance-panel.page-name'):</dt>
                            <dd><span class="incident-glance-common"><a target="_blank" href="https://manage.statuspage.io/pages/$page.id()">$page.name()</a></span></dd>
                        </dl>
                        <dl class="incident-glance-list-item">
                            <dt>$i18n.getText('incident-glance-panel.incident-name'):</dt>
                            <dd><span class="incident-glance-common"><a target="_blank" href="https://manage.statuspage.io/pages/$page.id()/incidents/$incident.id()">$incident.name()</a></span></dd>
                        </dl>

                        <dl class="incident-glance-list-item">
                            <dt>$i18n.getText('incident-glance-panel.incident-status'):</dt>
                            <dd id="incident-status-block">
                                #if ($incidentClosed)
                                    <div id="$incident.status().value()"
                                         class="incident-status incident-status-$incident.status().value() selected">
                                        $incident.status().value()
                                    </div>
                                #else
                                    #foreach($incidentStatus in $incidentStatuses)
                                        #if ($incident.status().value() == $incidentStatus.title())
                                            <div id="$incidentStatus.title()"
                                                 onclick="changeIncidentStatus(this)"
                                                 class="incident-status incident-status-$incidentStatus.title() selected">
                                                $incidentStatus.title()
                                            </div>
                                        #else
                                            <div id="$incidentStatus.title()"
                                             onclick="changeIncidentStatus(this)"
                                             class="incident-status incident-status-$incidentStatus.title()">
                                                $incidentStatus.title()
                                            </div>
                                        #end
                                    #end
                                #end
                            </dd>
                        </dl>

                        <dl class="incident-glance-list-item">
                            <dt>$i18n.getText('incident-glance-panel.incident-impact'):</dt>
                            <dd id="incident-impact-block">
                                #if ($incidentClosed)
                                    <div id="$incident.impact().value()"
                                         class="incident-impact incident-impact-$incident.impact().value() selected">
                                        $incident.impact().value()
                                    </div>
                                #else
                                    #foreach($impact in $incidentImpacts)
                                        #if ($incident.impact().value() == $impact.title())
                                            <div id="$impact.title()"
                                                 onclick="changeIncidentImpact(this)"
                                                 class="incident-impact incident-impact-$impact.title() selected">
                                                $impact.title()
                                            </div>
                                        #else
                                            <div id="$impact.title()"
                                                 onclick="changeIncidentImpact(this)"
                                                 class="incident-impact incident-impact-$impact.title()">
                                                $impact.title()
                                            </div>
                                        #end
                                    #end
                                #end
                            </dd>
                        </dl>

                        #if ($issueIncident.isLinked())
                            <dl class="incident-glance-list-item">
                                <dt>$i18n.getText('incident-tab-panel.incident-linked-by'):</dt>
                                <dd><span class="incident-glance-common">$issueIncident.linkedBy()</span></dd>
                            </dl>
                            <dl class="incident-glance-list-item">
                                <dt>$i18n.getText('incident-tab-panel.incident-linked-at'):</dt>
                                <dd><span class="incident-glance-common">$issueIncident.linkedAtStr()</span></dd>
                            </dl>
                        #elseif ($issueIncident.isCreated())
                            <dl class="incident-glance-list-item">
                                <dt>$i18n.getText('incident-tab-panel.incident-created-by'):</dt>
                                <dd><span class="incident-glance-common">$issueIncident.createdBy()</span></dd>
                            </dl>
                            <dl class="incident-glance-list-item">
                                <dt>$i18n.getText('incident-tab-panel.incident-created-at'):</dt>
                                <dd><span class="incident-glance-common">$issueIncident.createdAtStr()</span></dd>
                            </dl>
                        #end

                        <dl class="incident-glance-list-item">
                            <dt>$i18n.getText('incident-tab-panel.status-message'):</dt>
                            <dd id="incident-message-block">
                                <div style="display: block;" id="rulesformitem" class="formitem">
                                    <div class="textwrapper">
                                        #if ($incidentClosed)
                                            <textarea disabled cols="2" rows="8" id="rules"></textarea>
                                        #else
                                            <textarea cols="2" rows="8" id="rules" placeholder="$defaultMessage"></textarea>
                                        #end
                                    </div>
                                </div>
                            </dd>
                        </dl>
                        <dl>
                            <dt></dt>
                            <dd>
                                <div class="checkbox">
                                    <input class="checkbox" type="checkbox" name="publish-comment-checkbox" id="publish-comment-checkbox">
                                    <label for="publish-comment-checkbox">$i18n.getText('incident-tab-panel.publish-comment.title')</label>
                                </div>
                            </dd>
                        </dl>
                    </ul>
                </div>
            </div>
        </div>
        <div class="float_child float_child_right">
            <div class="tab-components-block">
                <div>
                    <h4>$i18n.getText('incident-tab-panel.incident-components-section-title')</h4>
                </div>
                <div class="component" id="components-header">
                    <div class="component-name-header">&nbsp;</div>
                    #foreach($componentStatus in $componentStatuses)
                        #set ($buttonClass = "")
                        #getComponentStatusButtonClass($componentStatus.id() $buttonClass)
                        #if ($incidentClosed)
                            <span id="components-header-$componentStatus.id()"
                                  title="Set all components to '$componentStatus.title()' sate"
                                  class="component-button components-header disabled header aui-icon aui-icon-small $buttonClass">
                                $componentStatus.title()
                            </span>
                        #else
                            <span id="components-header-$componentStatus.id()"
                                  onclick="headerStatusClick(this)"
                                  title="Set all components to '$componentStatus.title()' sate"
                                  class="component-button components-header $componentStatus.id() header aui-icon aui-icon-small $buttonClass">
                                $componentStatus.title()
                            </span>
                        #end
                    #end

                    #if ($incidentClosed)
##                        <span id="components-header-remove"
##                              title="Remove all components"
##                              class="component-button header remove disabled aui-icon aui-icon-small aui-iconfont-trash">
##                            Remove
##                        </span>
                    #else
                        <span id="components-header-remove"
                              title="Remove all components"
                              onclick="headerRemoveClick(this)"
                              class="component-button header remove aui-icon aui-icon-small aui-iconfont-trash">
                            Remove
                        </span>
                    #end
                </div>
                <div id="tab-components-list" class="components-list">
                    <!-- https://aui.atlassian.com/aui/7.9/docs/icons.html -->
                    #foreach($component in $incident.components())
                        <div class="component" id="$component.id()">
                            <div class="component-name" title="$component.name()">$component.name()</div>
                            #foreach($componentStatus in $componentStatuses)
                                #set ($buttonClass = "")
                                #getComponentStatusButtonClass($componentStatus.id() $buttonClass)
                                #if($componentStatus.id() == $component.status().value())
                                    <span id="$component.id()-$componentStatus.id()"
                                      onclick="statusButtonClick(this)"
                                      title="$componentStatus.title()"
                                      class="component-button $componentStatus.id() selected aui-icon aui-icon-small $buttonClass"
                                      style="cursor: default;"
                                    >
                                        $componentStatus.title()
                                    </span>
                                #else
                                    #if ($incidentClosed)
                                        <span id="$component.id()-$componentStatus.id()"
                                              title="$componentStatus.title()"
                                              class="component-button $componentStatus.id() disabled aui-icon aui-icon-small $buttonClass">
                                            $componentStatus.title()
                                        </span>
                                    #else
                                        <span id="$component.id()-$componentStatus.id()"
                                              onclick="statusButtonClick(this)"
                                              title="$componentStatus.title()"
                                              class="component-button $componentStatus.id() aui-icon aui-icon-small $buttonClass">
                                            $componentStatus.title()
                                        </span>
                                    #end
                                #end
                            #end
                            #if ($incidentClosed)
                            #else
                                <span id="$component.id()-remove"
                                      title="Remove Component"
                                      onclick="removeButtonClick(this)"
                                      class="component-button remove aui-icon aui-icon-small aui-iconfont-trash">
                                    REMOVE
                                </span>
                            #end
                        </div>
                    #end
                </div>
                <div id="incident-tab-panel-add-component" class="components-add-block-container">
                    <div class="components-add-block-content">
                        #if ($incidentClosed)
                        #else
                            <h5>$i18n.getText('incident-tab-panel.incident-add-component-title')</h5>
                            <div class="input-element">
                                <label  class="item-label" for="new-component-title">$i18n.getText('incident-tab-panel.incident-components-list-label')</label>
                                <span class="select components">
                                <select id="new-component-title">
                                    #foreach($nac in $nonAffectedComponents)
                                        <option value="$nac.id()">$nac.name()</option>
                                    #end
                                </select>
                                <span class="focus"></span>
                            </span>
                            </div>
                            <div class="input-element">
                                <label class="item-label" for="new-component-status">$i18n.getText('incident-tab-panel.incident-statuses-list-label')</label>
                                <span class="select statuses">
                                <select id="new-component-status">
                                    #foreach($status in $componentStatuses)
                                        <option value="$status.id()" class='"component-button."$status.id()".selected"'>$status.title()</option>
                                    #end
                                </select>
                                <span class="focus"></span>
                            </span>
                            </div>
                            <div class="input-element">
                                <label for="add-component-button">&nbsp;</label>
                                <div>
                                    <div id="add-component-button"
                                         onclick="addAffectedComponent()"
                                         title="Add affected component"
                                         class="component-button under_maintenance aui-icon aui-icon-small aui-iconfont-add">
                                        ADD
                                    </div>
                                </div>
                            </div>
                        #end
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="tab-buttons-block">
        <div class="buttons">
            #if ($incidentClosed)
            #else
                <button class="aui-button button"
                        onclick="resetIncident()"
                        id="tab-reset-incident-button">
                    $i18n.getText('incident-tab-panel.reset-button-text')
                </button>
                <button class="aui-button button"
                       type="submit"
                       onclick="updateIncident()"
                       id="tab-update-incident-button">
                    $i18n.getText('incident-tab-panel.save-button-text')
                </button>
            #end
        </div>
    </div>

    <input type="hidden" id="page-id" value="$issueIncident.pageId()" />
    <input type="hidden" id="incident-id" value="$issueIncident.incidentId()" />
    <input type="hidden" id="project-key" value="$issueIncident.projectKey()" />
    <input type="hidden" id="issue-key" value="$issueKey" />
    <input type="hidden" id="status-original" value="$incident.status().value()" />
    <input type="hidden" id="impact-original" value="$incident.impact().value()" />
    <input type="hidden" id="components-original" value='$componentsOriginal' />
    <input type="hidden" id="components-add-cache" value="" />

</div>
<script>
    #include("/js/statuspage.js")
    #include("/js/incident-tab-panel.js")
    function statusButtonClick(source) {
        $incidentTabPanel.changeComponentState(source);
    }
    function removeButtonClick(source) {
        $incidentTabPanel.removeComponent(source);
    }
    function headerStatusClick(source) {
        $incidentTabPanel.changeAllComponentsState(source);
    }
    function headerRemoveClick(source) {
        $incidentTabPanel.removeAllComponents(source);
    }
    function updateIncident() {
        // TODO: https://community.atlassian.com/t5/Jira-questions/How-to-add-a-change-history-entry-to-an-Issue-that-has-no/qaq-p/1002049
        $incidentTabPanel.updateIncident();
    }
    function resetIncident() {
        $incidentTabPanel.resetIncident();
    }
    function changeIncidentImpact(source) {
        $incidentTabPanel.changeIncidentImpact(source);
    }
    function changeIncidentStatus(source) {
        $incidentTabPanel.changeIncidentStatus(source);
    }
    function addAffectedComponent() {
        $incidentTabPanel.addAffectedComponentMain();
    }
</script>
