<div class="mod-content">
    <ul class="item-details">
        <dl class="incident-glance-list-item">
            <dt>$i18n.getText('incident-glance-panel.page-name'):</dt>
            <dd><span class="incident-glance-common"><a target="_blank" href="https://manage.statuspage.io/pages/$page.id()">$page.name()</a></span></dd>
        </dl>
        <dl class="incident-glance-list-item">
            <dt>$i18n.getText('incident-glance-panel.incident-name'):</dt>
            <dd><span class="incident-glance-common"><a target="_blank" href="https://manage.statuspage.io/pages/$page.id()/incidents/$incident.id()">$incident.name()</a></span></dd>
        </dl>
        <dl class="incident-glance-list-item">
            <dt>$i18n.getText('incident-glance-panel.incident-status'):</dt>
            <dd><span class="incident-glance-common incident-status-$incident.status().value()">$incident.status().value()</span></dd>
        </dl>
        <dl class="incident-glance-list-item">
            <dt>$i18n.getText('incident-glance-panel.incident-impact'):</dt>
            <dd><span class="incident-glance-common incident-impact-$incident.impact().value()">$incident.impact().value()</span></dd>
        </dl>
        <dl class="incident-glance-list-item">
            <dt>$i18n.getText('incident-glance-panel.incident-components'):</dt>
            <dd>
                    #foreach($i in $incident.components())
                        <div class="incident-glance-common component-status-$i.status().value()" title="$i.status().name()">
                            $i.name()
                        </div>
                    #end
            </dd>
        </dl>
    </ul>
</div>
