<!doctype html>
<html lang="en">
<head>
    <title>$i18n.getText("sp.admin.label")</title>
    <meta name="decorator" content="atl.admin" />
##    $webResourceManager.requireResource("com.atlassian.auiplugin:aui-select2")
    $webResourceManager.requireResource("com.atlassian.auiplugin:ajs")
    $webResourceManager.requireResource("ws.slink.status-page-plugin:status-page-plugin-admin")
    $webResourceManager.requireResourcesForContext("ws.slink.statuspage.admin")
</head>
<body>
    <h1>$i18n.getText("sp.admin.label")</h1>

    <form id="admin" class="aui">
        <div class="field-group">
            <h3 class="h3-css">$i18n.getText('sp.admin.enable-plugin-for-projects')</h3>
            <select id="projects"
                    class="select select-css long-field"
                    name="projects[]"
                    multiple="multiple">
                #foreach($project in $projects)
                    #if ($project.getSelected())
                        <option selected value="$project.getKey()">$project.getName()</option>
                    #else
                        <option value="$project.getKey()">$project.getName()</option>
                    #end
                #end
            </select>
        </div>
        <div class="field-group">
            <h3 class="h3-css">$i18n.getText('sp.admin.enable-plugin-for-roles')</h3>
            <select id="roles"
                    class="select select-css long-field"
                    name="roles[]"
                    multiple="multiple">
                #foreach($role in $roles)
                    #if ($role.getSelected())
                        <option selected value="$role.getId()">$role.getName()</option>
                    #else
                        <option value="$role.getId()">$role.getName()</option>
                    #end
                #end
            </select>
        </div>
        <div class="field-group">
            <h3 class="h3-css">$i18n.getText('sp.admin.custom-field-name')</h3>
            <input class="text medium-field" id="custom-field-name" type="text" size="40" value="$customFieldName" />
        </div>
        <div class="field-group">
            <input onclick="admin_update_config();" class="aui-button button" type="button" value="$i18n.getText('sp.admin.save.label')" />
        </div>
    </form>

    <script>
        AJS.$("#projects").auiSelect2();
        AJS.$("#roles").auiSelect2();
        function admin_update_config() {
            $statusPageAdmin.updateConfig();
        }
    </script>

</body>
</html>