<!doctype html>
<html lang="en">
<head>
    <title>$i18n.getText("sp.config.label")</title>
    <meta name="decorator"            content="admin"/>
    <meta name="projectKey"           content="$projectKey"/>
    <meta name="projectId"            content="$projectId"/>
    <meta name="admin.active.tab"     content="sp-item-cfg"/>
    <meta name="admin.active.section" content="atl.jira.proj.config"/>
    $webResourceManager.requireResource("com.atlassian.auiplugin:ajs")
    $webResourceManager.requireResource("ws.slink.status-page-plugin:status-page-plugin-config")
    $webResourceManager.requireResourcesForContext("ws.slink.statuspage.config")
</head>
<body>
    <h1>$i18n.getText("sp.config.label")</h1>
    <form id="config" class="aui">
        <input type="hidden" id="project" name="project" value="$projectKey" />

        <div class="field-group">
            <label for="apikey">$i18n.getText("sp.config.label.apikey")</label>
            <input class="text medium-long-field" type="text" id="apikey" name="apikey" value="$apiKey" />
        </div>

        <div class="field-group">
            <label for="managers">$i18n.getText("sp.config.plugin.manager.roles.label")</label>
            <select id="managers"
                    class="select select-css long-field"
                    name="managers[]"
                    multiple="multiple">
                #foreach($role in $managers)
                    #if ($role.getSelected())
                        <option selected value="$role.getId()">$role.getName()</option>
                    #else
                        <option value="$role.getId()">$role.getName()</option>
                    #end
                #end
            </select>
        </div>

        <div class="field-group">
            <label for="viewers">$i18n.getText("sp.config.plugin.viewer.roles.label")</label>
            <select id="viewers"
                    class="select select-css long-field"
                    name="viewers[]"
                    multiple="multiple">
                #foreach($role in $viewers)
                    #if ($role.getSelected())
                        <option selected value="$role.getId()">$role.getName()</option>
                    #else
                        <option value="$role.getId()">$role.getName()</option>
                    #end
                #end
            </select>
        </div>

        <div class="field-group">
            <input onclick="config_update_config();" class="aui-button button" type="button" value="$i18n.getText('sp.admin.save.label')" />
        </div>

    </form>

    <script>
        AJS.$("#managers").auiSelect2();
        AJS.$("#viewers").auiSelect2();
        function config_update_config() {
            $statusPageConfig.updateConfig();
        }
    </script>

</body>
</html>
